@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: #243e63;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

li {
    display: flex;
    margin: 16px;
}

a:hover {
    background-color: white;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    }

    .logo_svg {
        width: 40px;
        height: 40px;
        margin-right: 12px;
   }

   .logo_name {
    font-weight: 900;
    font-size: 24px;
   }

   .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    max-width: 1200px;
    margin: 0 auto;
   }

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

.nav {
    display: flex;
}

.hamburger {
    display: none;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

   .nav_btn {
    text-decoration: none;
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
   }

   .nav_btn:hoover {
    cursor: pointer;
   }

   .nav_login {
    margin-left: 48px;
   }

   .btn--special {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 32px;
    border-radius: 32px;
    transition: all 0.3s ease;
   }


.btn--special:hoover {
    background-color: #4a00dc;
    cursor: pointer;
}

.main {
   max-width: 1200px; 
   margin: 0 auto;
   padding: 32px;
}

.section--main {
    display: flex;
}

.main_svg--holder {
    width: 60%;
}

.main_svg {
    width: 100%;
}

.main_container {
    width: 40%;
}


.main_heading {
   font-size: 40px; 
   color: #1a202c; 
}

.main_heading span {
    color: #6415ff;
}

.main_paragraph,
.quality--work_p {
    font-size: 18px;
    margin: 32px  0;
}

.main_form {
    display: flex;
    align-items: center;
    max-width: 450px;
    position: relative;
}

.main_input {
    padding: 22px 0 22px 32px;
    border-radius: 80px;
    border: 2px solid #e5e7eb;
    width: 100%;
    font-size: 16px;
    font-weight: 500;

}

.main_btn {
    position: absolute;
    right: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 14px  32px;
}

.main_customers {
    margin-top: 80px;
}

.main_customers--p {
   text-transform: uppercase;
   font-weight: 700;
   color: #a0aec0;
   font-size: 12px;
   margin: 0;
}

.main_customers--img {
    opacity: 0.5;
    width: calc(100% - 60px);
    margin-top: 16px;
    margin-bottom: 48px;
}

/*
FEATURES
*/

.features_head,
.pricing_head {
  font-size: 16px;
  color: #6415ff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.features_heading,
.pricing_heading {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    text-align: center;
    margin-bottom: 24px;
}

.features_heading,
.pricing_heading span {
    color: #6415ff;
}

.features_p, 
.pricing_p {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: 1#7c8ba1;
    line-height: 1.5;
    margin-bottom: 40px;
}

.features_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 80px;
}


.features_feature {
    display: flex;
    padding: 32px 24px;
}

.features_icon--box {
    border: 1px solid #e5e7eb;
    padding: 16px;
    height: 24px;
    width: 24px;
    border-radius: 100px;
}


.features_description {
    margin-top: 8px;
}

.features_description--title {
    margin: 0;
    color: black;
    font-size: 24px;
}

.features_description {
    color: #7c8ba1;
    margin: 0;
    margin-top: 16px;
    line-height: 1.75;
    font-weight: 500;
}

.section--features,
.section--pricing,
.section_quality--work,
.section--values {
    padding: 96px 0;
}

/*
QUALITY WORK
*/

.section_quality--work {
    display: flex;
    align-items: center;
    
   }

.quality--work_container {
    width: 50%;
  
}

.quality--work_head {
  font-size: 16px;
  color: #6415ff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
  letter-spacing: 1px;
}


.quality--work_heading {
   font-size: 40px; 
   color: #1a202c; 
}


.quality--work_heading span {
    color: #6415ff;
}

 

.quality--work_svg--holder {
    width: 50%;
    
}

.quality--work_svg {
    width: 100%;
}

/*

STEPS

*/

.section_steps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
   }


  .steps {
    width: 50%;
    line-height: 2;
  }


  .steps_row {
    display: flex;
  }

  .steps_img {
    width: 50%;
    display: flex;
    align-items: center;
    
  }

  .steps_head span {
    color: #6415ff
  }

  .steps_heading span {
    color: #6415ff
  }

  .steps_heading {
    font-size: 38px;
    font-weight: 900;
  }

  .steps_list {
    display: flex;
    flex-wrap: wrap;
}

.steps_title {
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
}

.step_description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step_number {
    font-size: 36px;
    color: rgba(64, 62, 62, 0.254);
    font-weight: bold;
    margin-top: 2px;
}

.steps_para {
    margin-top: 4px;
}

.steps_svg {
    width: 100%;
}





/*
VALUES
*/

.values_head {
  font-size: 16px;
  color: #6415ff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 80px;
  letter-spacing: 1px;
}

.values_heading {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 24px;
}

.values_heading span {
    color: #6415ff;
}

.values_wrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.values_row {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.values_list {
    display: flex;
}

.value_svg-affordable {
     border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
    width: 36px;
    height: 36px;
    background-color: #9ae6b4;
}

.value_svg-professionalism {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
    width: 36px;
    height: 36px;
    background-color: #feb2b2;
}

.values_icons-icon {
    width: 20px;
}

.values_subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 26px;
}

.values_subtitle-para {
    font-size: 16px;
    line-height: 1.625;
    margin-top: 4px;
    margin-left: 16px;
}

.values_box {
    display: flex;
}

.values_icon--box {
    width: 50%;
    display: flex;
}

.values_value {
    width: 50%;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__tilte {
    display: flex;
    align-items: center;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__tilte {
    display: flex;
    align-items: center;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.btn{
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.values_icon--box img {
    width: 100%;
}


/*

PRICING

*/

.pricing__plans {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 48px;
}

.pricing__plan {
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
   border-radius: 8px;
   position: relative;
   overflow: hidden;
}

.pricing__title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 32px;
    font-weight: 700;
    text-align: center;
}

.pricing__price {
    font-size: 48px;
    margin: 16px 0;
    font-weight: 700;
    text-align: center;
    color: #1a202c;
}

.pricing__time {
   text-transform: uppercase;
   font-weight: 700;
   margin: 0;
   margin-bottom: 32px;
   text-align: center;
   color: #a0aec0;
}

.pricing__box {
    border-top: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
}

.pricing__box--title {
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 32px;
    font-weight: 700;
    color: #1a202c;
}

.plan_stripe-green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan_stripe-blue {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan_stripe-red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.pricing__list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
 }

 .pricing__feature {
    font-weight: 500;
    margin-top: 20px;
    color: #718096;
 }

 .pricing__btn {
    border: none;
    border-radius: 100px;
    padding: 16px 0;
    margin: 32px auto;
    width: 60%;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: #f7fafc;
    background: linear-gradient(135deg, #38b2ac, #81e6d9);  
 }

 .pricing__plan::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
    top: 0;
    left: 0;
    
 }

 .pricing__plan:nth-of-type(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
 }


 .pricing__plan:nth-of-type(2) *,
.pricing__plan:nth-of-type(2) {
    color: #f7fafc; 
}  

.pricing__plan:nth-of-type(2) .pricing__btn {
     color: #6415ff;
     background: white;
}

.pricing__plan:nth-of-type(3) .pricing__btn {
    background:  linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);;
}


       


 /*

 TESTIMONIALS

 */

 #testimonials .row {
    display: flex;
 }

 .testimonials_img {
    width:  41.6667%;
 }

 .testimonals_description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
 }

 .section_tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
 }

 .section_title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
 }

 .testimonial_rating i {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
 }



 .testimonial_para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
 }

 .testimonial_img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
 }

 /*

 START

 */

 .start_container {
    border: 5px solid #6415ff;
    height: 300px;
    background: #6415ff;
    margin-top: 100px;
    
 }

 .start_row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .start_buttons {
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    padding: 20px 40px;
}

.start_button:nth-of-type(1) {
    border-radius: 500px;
    background-color: #f50565;
    color: #f7fafc;
    margin-right: 32px;
    font-size: 16px;
    font-weight: 700;
}

.start_button:nth-of-type(2) {
    border: 1px solid rgb(160, 174, 192);
    font-size: 16px;
    font-weight: 700;
}

 .start_title {
    color: #f7fafc;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    width: 50%;
    padding-left: 75px;
 }


 /*

 FOOTER

 */

 footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
   
    
 }

 .footer_columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
 }

 .footer_logo {
    display: flex;

 }

 .footer_column-title {
    font-weight: 700;
    line-height: 1.5;
    color: white;
 }

.footer_column-link {
    font-size: 14px;
    color: white;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    margin-top: 24px;
}

.container_footer-bottom {
    border-top: 1px solid white;
    margin-top: 60px;
}


.row_footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer_logo-img {
    width: 32px;
    height: 32px;
    margin-top: 80px;
}



.footer_logo-text {
    margin-top: 85px;
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
   
}

.footer_copyright {
    color: white;
    margin-top: 75px;
}

.footer_social-links {
    
    margin-top: 75px;
    display: flex;justify-content: space-between;
}

.social_link {
    border: 14px solid white;
    border-radius: 50%;
    background-color: white;
    color: #243e63;
    font-size: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
}

/*

MEDIA

*/


@media (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 2.5em;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    }

    @media (max-width: 768px) {
        body {
            font-size: 18px;
             }
        h1 {
           font-size: 2em;
            }
            .container {
                width: 90%;
                margin: 0 auto;
            }
             .section_steps {
                flex-direction: column;
                align-items: center;
            }
            .steps_img {
                width: 100%;
                margin-right: 0;
            }
            .steps {
                width: 100%;
            }
            .navbar-links {
        display: none; 
            }

    .hamburger {
        display: block; 
        cursor: pointer;
        font-size: 24px;
    }

.nav_btn-links {
    display: none;
}
}

    

    @media (max-width: 990px) {
        body {
            font-size: 14px;
        }
        h1 {
           font-size: 2em;
        }
        .container {
            width: 100%;
            margin: 0 auto;
        }
        .steps_img, .steps {
            width: 100%;
        }
    }

    @media (max-width: 570) {
        body {
            font-size: 14px;
        }
        h1 {
            font-size: 1.5em;
        }
        .container {
            width: 100%;
            margin: 0 auto;
        }
    }

    











 














 



